body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100vw;
  height: 100vh;
}

.hero {
  position: absolute;
  opacity: 0;
  font-size: 6.5rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Sansita Swashed', cursive;
  /* font-family: 'Bellota', cursive; */
  order: 1;
  text-align: center;
  transition: opacity 0.5s;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: lightslategray */
}

.hero.show {
  opacity: 1;
  transition: opacity 5s;
}


#myVideo {
  object-fit: cover;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.titles {
  display: flex;
  flex-direction: column ;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 75px;
  }
  .hero {
    position: absolute;
    opacity: 0;
    font-size: 5rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sansita Swashed', cursive;
    /* font-family: 'Bellota', cursive; */
    order: 1;
    text-align: center;
    transition: opacity 0.5s;
  }
}
