.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  z-index: 1001;
  /* mix-blend-mode: difference; */
/* background-color: black; */
}

ul {
  list-style-type: none;
}

.nav h1 {
  padding-top: 0;
  margin-top: 0;
}
.nav-item {
  font-weight: bold;
  font-size: 5rem;
  margin-top: 0.67em;
  margin-bottom: 0.6em;
  color: whitesmoke;
}
.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-item > .active {
  text-decoration: underline;
}

   .flyoutMenuLinks {
  position: fixed;
  text-align: left;
  font-family: 'Sansita Swashed', cursive;
  margin-top: 5.5rem;
  
} 

.flyoutMenu { /* https://www.kirupa.com/html5/creating_a_smooth_sliding_menu.htm */
  width: 0px;
  height: 90vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: width 0.5s;
  
  /* mix-blend-mode: difference; */
}

.flyoutMenu.show {
  width: 30%;
}

#initials {
  color: whitesmoke;
  font-family: 'Sansita Swashed', cursive;
}
#initials:hover {
cursor: pointer;
}

@media screen and (max-width: 768px) {
  .flyoutMenu.show {
    width: 100vw;
    margin-top: -50px;
    
  }
}