
.content {
  padding: 150px 300px;
  z-index: 0;
}

.content h1 {
  font-size: 3rem;
}

.about {
  margin-top: 100vh;
  background-color: gray;
}
.services {
  background-color: #110C11;
  color: whitesmoke;
}

.work {
  background-color: gray;
}
.contact {
  background-color: #110C11;
  color: whitesmoke;
}
.footer {
  padding: 25px;
  background-color: #110C11;
}
@media screen and (max-width: 1200px) {
  .content {
    padding: 75px;
  }
}
