
.content {
  padding: 150px 300px;
  z-index: 0;
}

.content h1 {
  font-size: 3rem;
}

.about {
  margin-top: 100vh;
  background-color: gray;
  min-height: 80vh;
}
.services {
  background-color: #110C11;
  color: whitesmoke;
  min-height: 80vh;
}

.work {
  background-color: gray;
  min-height: 80vh;
}
.contact {
  background-color: #110C11;
  color: whitesmoke;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}
.contact-div {
  height: 200px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: left;
}
.submit-button {
  max-width: 70px;
}
.footer {
 
    font-size: .875rem;
    line-height: 1.125rem;
    padding: 1.875rem 1.5625rem 3.125rem;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
  background-color: #f6f8fA;
}
@media screen and (max-width: 1200px) {
  .content {
    padding: 70px;
  }
}
